<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row" th:fragment="content" th:remove="tag">
    <br/>
    <div class="col-12">
        <button id="addNewImageExtraBtn" class="btn btn-info ">Add new extra image</button>
    </div>
    <br/>
    <div id="imageWrapper" class="row col-12">
        <th:block th:if="${product.id!=null} and ${mainImage!=null}">
            <div th:id="${mainImage.id}" class="img-wrapper col-6">
                <span>Main</span>

                <span class="float-right image-color-picker">
                    <input name="mainColor" type="text" class="color-text" th:value="${mainImage.color}">
                     <span class="colorpicker__span"><i class="colorpicker__i fas fa-eye-dropper"></i>
                     </span>
                </span>
                <div class="image-preview saved-image-preview">
                    <th:block th:if="${mainImage!=null}">
                        <img th:src="${mainImage.link}" alt="alt" class="image-preview__img"/>
                    </th:block>

                    <th:block th:if="${mainImage==null}">
                        <img th:src="${product.defaultImage}" alt="alt" class="image-preview__img"/>

                    </th:block>

                </div>
                <input type="file" name="file" class="file_inp"/>
                <button class="float-right" id="selectnone-btn">Select default</button>
            </div>
        </th:block>

        <th:block th:if="${product.id==null} or ${mainImage==null}">
            <div class="img-wrapper col-6">
                <span>Main</span>
                <span class="float-right image-color-picker">

                    <input name="mainColor" type="text" class="color-text" value="no color" >
                     <span class="colorpicker__span"><i class="colorpicker__i fas fa-eye-dropper"></i></span>
                </span>

                <div class="image-preview saved-image-preview">
                    <th:block th:if="${product.mainImageLink!=null}">
                        <img th:src="${product.mainImageLink}" alt="alt" class="image-preview__img"/>
                    </th:block>

                    <th:block th:if="${product.mainImageLink==null}">
                        <img th:src="${product.defaultImage}" alt="alt" class="image-preview__img"/>

                    </th:block>

                </div>
                <input type="file" name="file" class="file_inp"/>
                <button class="float-right" id="selectnone-btn">Select default</button>
            </div>
        </th:block>


        <th:block th:if="${images != null}" th:each="imagei : ${images}">

            <div th:id="${imagei.id}" class="img-wrapper col-6">

                <span>Extra</span>
                <span class="float-right image-color-picker">
                    <input name="extraColor" type="text" class="color-text" th:value="${imagei.color}">
                    <span class="colorpicker__span"><i class="fas fa-eye-dropper"></i></span></span>

                <div class="image-preview saved-image-preview">

                    <i class="close-i fas fa-times"></i>
                    <img th:src="${imagei.link}" alt="alt" class="image-preview__img"/>
                </div>
                <input type="file" name="files" class="file_inp"/>

            </div>


        </th:block>


    </div>

    <!--    Fragment-->

    <div th:replace="comment_fragment/commonColorPicker :: set-common-color"></div>
    <!--    Fragment-->
</div>
</body>
</html>