<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/themify-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/jquery-ui.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/theme/home/css/style.css}" type="text/css">

<!--ADDITIONAL CSS-->>


<link rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/13.1.0/jqwidgets/styles/theme.min.css}">

<link rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/13.1.0/jqwidgets/styles/jqx.base.min.css}">
<link rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/13.1.0/jqwidgets/styles/jqx.bootstrap.min.css}">
<!--<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jqwidgets/13.1.0/jqwidgets/styles/jqx.web.min.css}">-->

<!--/ADDITIONAL CSS-->>


<!-- CREATED CSS-->
<link rel="stylesheet" th:href="@{/resource/css/home/homestyles.css}" type="text/css">
<link rel="stylesheet" th:href="@{/resource/css/comment_fragment_css.css}">
<!-- CREATED CSS-->
</html>