<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/home/index.css}">



    </th:block>
</head>
<body>
<div class="content-wrapper container" layout:fragment="content">
<!--/payment/redirectToBankForm-->

    <button id="sendBtn">send</button>

</div>
<th:block layout:fragment="addscript">
    <script>
        $("#sendBtn").on("click", function(event){
            event.preventDefault();
            $.ajax({
                url : "/payment/redirect-vnpay-checkout",
                type: "post",
                success: function(response) {
                    window.location.href=response;
                },
                error: function (err) {
                  alert("err")
                }
            });


        })

    </script>
    <script th:src="@{/resource/js/home/index.js}"></script>



</th:block>

</body>
</html>