<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/home/index.css}">
        <link rel="stylesheet" th:href="@{/resource/css/home/cart.css}">


    </th:block>
</head>
<body>

<div class="content-wrapper container" layout:fragment="content">
    <h2 style="color: chocolate; margin-top: 30px" class="text-center">Cart</h2>
    <div id="cartForm">

        <table id="cartTable" class="col-12 tableFixHeight table table-striped">
            <thead>
            <th class="col-4 ">Avatar</th>
            <th class="col-2 ">Price</th>
            <th class="col-2 ">Count</th>
            <th class="col-2">Sum price</th>
            <th class="col-2">Choose</th>
            </thead>
            <tbody id="cartTableBody">
            <!--            <tr class="col-12">-->
            <!--                <td class="col-4">-->
            <!--                    <img class="product-img"-->
            <!--                         src="https://didongviet.vn/pub/media/catalog/product//i/p/iphone-11-64gb-chinh-hang_3.jpg"-->
            <!--                         alt=""/>-->
            <!--                </td>-->
            <!--                <td><span>12345</span></td>-->
            <!--                <td>-->
            <!--                    <input type="number" style="width: 30px; outline: none" value="1" min="1"-->
            <!--                    />-->
            <!--                </td>-->
            <!--                <td style="cursor: pointer">-->
            <!--                    <button style="font-weight: bold; color:orange; border : 1px solid orange; background-color: white">-->
            <!--                        Delete-->
            <!--                    </button>-->
            <!--                </td>-->
            <!--            </tr>-->
            </tbody>
        </table>
        <div class="price-total col-12">
            <p  class="col-3 float-right" style="font-weight: bold">TOTAL: <span
                    id="totalPriceSpan"></span></p>
        </div>
        <br>
        <br>
        <hr>

        <div id="customer" class="col-12" style="display: flex;justify-content: center">
            <div class="col-8">
                <h2 class="text-center" style="color: goldenrod;">Customer Info</h2>
                <form id="customerForm">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" name="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Gender:</label>
                        <div class="row col-8">
                            <div class="col-6">
                                <span>Male</span>
                                <input type="radio" name="gender" value="male" checked>
                            </div>
                            <div class="col-6"><span>Female</span>
                                <input type="radio" name="gender" value="female">
                            </div>


                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone number:</label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Address:</label><input class="form-control" name="address" type="text">
                    </div>

                </form>
                <hr>
                <div class="row">
                    <div class="col-6"><span class="float-left" style="font-weight: bold">Total: </span></div>
                    <div class="col-6"><span style="color: red;font-weight: bold" id="totalSpan"
                                             class="float-right"></span></div>
                </div>
                <div class="row">
                    <button id="buyBtn" style=""
                            class="text-center">BUY
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div id="loader" class="loader" style="display: none"></div>

</div>
<th:block layout:fragment="addscript">
    <script th:src="@{/resource/js/home/index.js}"></script>
    <script th:src="@{/resource/js/home/cart.js}"></script>


</th:block>

</body>
</html>