<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/home/index.css}">


    </th:block>
</head>
<body>
<div class="content-wrapper container" layout:fragment="content">
    <div class="row">
        <div class="col-3" style="margin-top: 10px" th:each="product :${products}">

            <div class="pcard card" style="height: 360px; overflow-y: hidden; padding: 10px">
                <div class="pcard-img card-body" style="background-size: cover;">

                    <img class="img-fluid card-img" th:src="${product.mainImageLink}" alt="">
                </div>
                <div class="infoBody">
                    <h5 class="productlistItem__name" th:text="${product.name}"></h5>
                    <div class="infoFooter">

                        <span th:id="${product.price}" class="productlistItem__price"
                            th:text="${product.price}">
                        </span>
                        <button class="view-btn"><a th:href="@{'/product/'+${product.code}}">XEM NGAY </a></button>
                    </div>


                </div>
            </div>

        </div>
    </div>


</div>


<th:block layout:fragment="addscript">
    <script th:src="@{/resource/js/home/index.js}"></script>


</th:block>

</body>
</html>