.tableFixHeight {
    height: 360px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}


.tableFixHeight tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}


#page400 {

    background-image: url("../../img/404img.png");
    background-size: cover;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #28a745;
    border-color: #3d9970;
}

.tr__checkbox {

    width: 30px;
    height: 30px;
}

.mini-setting-btn {
    border: 1px solid black;
    border-radius: 50%;
}

.menu-ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-ul li {
    margin-top: 26px;
    width: 100%;
    border: 2px solid lightslategray;


}

.menu-ul li a {
    color: darkblue;
}

.menu-ul li:hover {
    box-shadow: 0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue,
    0 0 5px darkblue;

}

.sidebar-menu {
    max-width: 160px;
}

