body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pcard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.pcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.list-filter .active {
    border: 1px solid orange;
    color: darkorange;
}

.list-sort .active {

    border: 1px solid orange;
    color: darkorange;
}

.menu__ul__li {
    font-size: 1.2rem;
    width: 100%;

}

.menu__ul__li .jqx-tree-item-arrow-collapse {
    height: 26px !important;
    width: 26px !important;

}

.productlistItem:hover .productlistItem__name {
    color: blue;
    font-weight: bold;
}

.productlistItem__name {
    height: 50px;
}

.infoFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.infoBody {
    margin-top: 20px;

}


.productlistItem__price {
    font-size: 1.2rem;
    font-weight: bold;
}

.view-btn {

    background-color: white;
    border: 2px solid red;
}

.view-btn a {
    font-weight: bold;
    color: red;

}

.content-wrapper {
    padding: 16px 16px 16px 16px;
    box-shadow: 10px 10px 10px -10px #111, -10px 10px 10px -10px #111;
    min-height: 1000px;
    padding-bottom: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: textfield;
    margin: 0;
}
