<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/admin_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <th:block layout:fragment="addcss">
        <link rel="stylesheet" th:href="@{/resource/css/admin/category-product/category-product.css}">
    </th:block>

</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Edit Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/admin/category/}">Category index</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 ml-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <a class="maintab nav-link active" data-toggle="tab" href="#general" role="tab"
                           aria-controls="home" aria-selected="true">General</a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="maintab nav-link" data-toggle="tab" href="#detail" role="tab"
                           aria-controls="messages" aria-selected="false">Detail</a>
                    </li>


                </ul>

                <form th:id="mainForm" th:action="@{/admin/category/update}" th:object="${category}" method="post">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="dropdown">
                            <button class="mini-setting-btn btn " type="button"
                                    id="miniSettingBtn" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="miniSettingBtn">
                                <a class="dropdown-item" id="miniSettingMenuCategory" href="#">Menu Category</a>

                            </div>
                        </div>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane active" id="general" role="tabpanel">
                            <div th:replace="admin/category/tabs/general :: content"></div>

                        </div>

                        <div class="tab-pane" id="detail" role="tabpanel">
                            <div th:replace="admin/category/tabs/detail-index :: content"></div>

                        </div>


                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Save">
                        <a style="margin-left: 100px" th:href="@{/admin/category/update/{id}(id=${category.id})}"
                           class="btn btn-default">
                            CANCEL
                        </a>

                    </div>
                </form>


            </div>
        </div>


        <!--        Modal-->
        <!--        menu category setting-->
        <div class="modal fade" id="miniSettingMenuCategoryModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Menu Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="miniSettingMenuCategoryModalSaveBtn" class="btn btn-primary">Save
                            changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        -->
    </div>



</div>


<th:block layout:fragment="addscript">
    <script th:inline="javascript">    // Enable Thymeleaf inlining
    var categoryId = [[${category.id}]]; 	// Behaves just like in HTML
    var categoryParentId = [[${category.parent != null ? category.parent.id: null }]];

    </script>


    <!--    <script> var catHierarchical = [];</script>-->

    <!--    <script th:src="@{/resource/js/admin/category/add-edit.js}"></script>-->
    <script th:src="@{/resource/js/admin/category/add-edit.js}"></script>
    <script th:src="@{/resource/js/admin/category-product/category-product.js}"></script>


</th:block>
</body>


</html>